@page "/lists/add"
@using Microsoft.AspNetCore.Components
@using MyTodo.Models

@inject NavigationManager NavigationManager

<PageTitle>New List</PageTitle>

<br/>
<MudGrid>
    <MudItem xs="12">
        <MudGrid Justify="Justify.Center">
            <MudItem xs="12" sm="12" md="6" lg="4" xl="4" xxl="4">
                <EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
                    <MudCard>
                        <MudCardContent>
                            <h1>Create a new list</h1>

                            <DataAnnotationsValidator/>
                            <ValidationSummary/>

                            <MudTextField Label="Title" Class="mt-3"
                                          @bind-Value="model.Title" For="@(() => model.Title)"/>
                        </MudCardContent>

                        <MudCardActions>
                            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Save</MudButton>
                        </MudCardActions>
                    </MudCard>
                </EditForm>
            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>

@code {
    private TodoList model = new();

    private void HandleValidSubmit()
    {
        model.Id = AppState.Lists.Count + 1;
        AppState.Lists.Add(model);
        AppState.NotifyChanges(model, null);
        NavigationManager.NavigateTo($"/lists/{model.Id}");
    }

}